<b>Prosimy o uważne przeczytanie poniższego regulaminu (dalej zwanego jako „Regulamin”), przed rozpoczęciem korzystania z naszych Usług. Korzystanie z usług oferowanych przez aplikację {{appName}} jest równoznaczne z akceptacją poniższego Regulaminu w całości.
</b>

<ul class="roman">
  <li class="header">Informacje podstawowe. Kto, co i jak:</li>
  <div>
    <ul>
      <li> Właścicielem i operatorem aplikacji mobilnej {{appName}} oraz domeny www.{{appName}}.com jest Adam Gąsiorek. W dalszej części Regulaminu określany również jako „Foodsyeah”.</li>
      <li>Działalność {{appName}} polega na świadczeniu usług SPN – Smart Personal Nutrition (dalej zwanych jako „Usługi Bezpłatne”) poprzez udostępnienie drogą elektroniczną w ramach aplikacji oprogramowania umożliwiającego m.in.:
        Weryfikowanie i zapisywanie wartości odżywczych produktów i potraw,
        Weryfikowanie i zapisywanie spożycia witamin i mikroelementów,
        Zapisywanie historii odżywiania Użytkowników i historii aktywności fizycznej Użytkowników,
        Pobranie przepisów umożliwiających samodzielne przygotowanie posiłków.
        Gromadzenie aktywności treningowej na podstawie danych wprowadzanych przez Użytkownika lub pobieranych z podłączonych do Aplikacji innych programów lub urządzeń.</li>
      <li>Usługi Bezpłatne i Usługi Płatne nazywane będą dalej łącznie jako „Usługi”.</li>
      <li>Niniejszy Regulamin określa zasady świadczenia Usług przez {{appName}} na rzecz Państwa – użytkowników (dalej zwanych jako „Użytkownik” lub „Użytkownicy”). Korzystając z Aplikacji, akceptują Państwo warunki korzystania przedstawione poniżej, zwane również „Regulaminem”, a także Politykę Prywatności.</li>
    </ul>
  </div>
  <li class="header">Definicje</li>
  <div>
    W ramach niniejszego Regulaminu używamy określonych terminów (pisanych wielką literą), którym nadajemy konkretne i precyzyjne znaczenie. Część z nich wyjaśniliśmy już powyżej, ale posługiwać będziemy się też następującymi terminami:
    <ul>
      <li>APLIKACJA to zewnętrzne oprogramowanie na urządzenie mobilne, oferowane w ramach platformy Google Play, App Store lub innym pozwalające na korzystanie z Usług wraz z możliwością dostępu do nich poprzez stronę WWW pod adresem www.{{appName}}.com.</li>
      <li>KONTO to konto Użytkownika w Aplikacji, które umożliwia logowanie się do Aplikacji i podejmowanie dostępnych aktywności. Konto zawsze prowadzone jest pod unikatową nazwą (login).</li>
      <li>POLITYKA PRYWATNOŚCI to dokument, w którym wyjaśniamy jakie dane osobowe Użytkowników gromadzimy i przetwarzamy na potrzeby komfortowej obsługi oraz na jakich zasadach dane te są przez nas przetwarzane i wykorzystywane. Ponadto dokument określa zasady zbierania i przetwarzania tzw. ciastek (cookies).</li>
      <li>REJESTRACJA to procedura zakładania Konta w Aplikacji.</li>
    </ul>
  </div>
  <li class="header">Działanie Aplikacji</li>
  <div>
    <ul>
      <li>Dostęp do Aplikacji jest otwarty dla każdego, kto ukończył 16 rok życia lub osiągnął wiek, w którym przysługuje mu ograniczona zdolność do czynności prawnych i uzyskał zgodę opiekuna na korzystanie z Aplikacji, pod warunkiem, że przepisy szczegółowe państwa zamieszkania takiej osoby nie ograniczają lub wyłączają możliwości udostępniania Aplikacji lub usług świadczonych za pośrednictwem środków komunikacji elektronicznej takiej osobie.</li>
      <li>Korzystanie z Usługi Płatnej dostępne jest dla każdego, kto ukończył 16 rok życia i uzyskał zgodę opiekuna na korzystanie z Aplikacji, pod warunkiem, że przepisy szczegółowe państwa zamieszkania takiej osoby nie ograniczają lub wyłączają możliwości udostępniania Aplikacji lub usług świadczonych za pośrednictwem środków komunikacji elektronicznej takiej osobie.</li>
      <li>Dostęp do Aplikacji wymaga posiadania zainstalowanej i aktywnej Aplikacji, jak również możliwości połączenia się z siecią Internet (każdorazowe korzystanie z Usług wymaga bieżącego dostępu do sieci Internet), posiadania skrzynki pocztowej e-mail.</li>
      <li>Korzystanie z niektórych funkcjonalności Aplikacji może wymagać zaakceptowania i spełnienia regulaminów innych usługodawców, którzy współpracują z Serwisem, a z których usług chce korzystać Użytkownik.</li>
      <li>W celu pełnego korzystania z Usług, w tym Usługi Płatnej, niezbędne jest założenie i utrzymanie Konta Użytkownika.</li>
    </ul>
  </div>
  <li class="header">Zakładanie Konta przez Użytkownika w Aplikacji</li>
  <div>
    <ul>
      <li>Założenie Konta w Aplikacji wymaga Rejestracji za pośrednictwem Aplikacji. W celu Rejestracji należy wypełnić formularz rejestracyjny podając swój adres e-mail oraz hasło. Podany przez Użytkownika adres e-mail zostanie wykorzystany jako login, a hasło będzie zabezpieczało dostęp do Konta.</li>
      <li>Użytkownik może również założyć Konto za pośrednictwem portalu społecznościowego Facebook wykorzystując przycisk logowania i wyrażając zgodę na połączenia konta w portalu społecznościowym Facebook z Kontem. Przy następnych logowaniach do konta na portalu społecznościowym Facebook, Użytkownik będzie miał możliwość automatycznego połączenia z Kontem.</li>
      <li>Dostęp do Konta Użytkownik uzyskuje po zalogowaniu w Aplikacji, tzn. po podaniu loginu, będącego adresem e-mail wskazanym przy Rejestracji i hasła zabezpieczającego dostęp do Konta Użytkownika.</li>
      <li>Począwszy od pierwszego zalogowania w Aplikacji, Użytkownik musi uzupełnić Konto o dane dotyczące jego osoby (płeć, waga, wiek, aktywność fizyczna itd.), które są niezbędne dla prawidłowego wykonania Usług. Zobowiązujemy się chronić te dane ze szczególną ostrożnością. Użytkownik może również w każdym momencie zablokować do nich dostęp poprzez usunięcie Konta. Zastrzegamy, że brak podania określonych informacji może skutkować niemożnością świadczenia przez {{appName}} konkretnych Usług.</li>
      <li>Prosimy o nieudostępnianie osobom postronnym hasła zabezpieczającego dostęp do Konta Użytkownika. Wszystkie czynności dokonane poprzez Konto traktowane będą jako dokonywane przez właściciela tego Konta, dlatego jeśli istnieje podejrzenie, że hasło zabezpieczające dostęp do Konta zostało przejęte przez kogoś innego, prosimy niezwłocznie nas o tym poinformować.</li>
      <li>Korzystanie z Kont innych Użytkowników lub udostępnianie Konta osobom trzecim jest zabronione.</li>
      <li>Zastrzegamy sobie możliwość zablokowania Konta bądź dostępu do wybranych usług świadczonych w ramach Aplikacji w przypadku stwierdzenia, że bezpieczeństwo Konta jest zagrożone, naruszone zostały postanowienia Regulaminu, bądź przepisy powszechnie obowiązującego prawa. W niektórych przypadkach możemy uzależnić dalsze korzystanie z Konta od dokonania zmiany hasła zabezpieczającego dostęp do tego Konta. W takiej sytuacji, po dokonaniu zmiany hasła Użytkownik natychmiast odzyska dostęp do Konta.</li>
      <li>Użytkownik może w każdej chwili usunąć Konto w Aplikacji za pomocą opcji do tego służącej w ustawieniach Aplikacji.</li>
    </ul>
  </div>
  <li class="header">Zasady świadczenia Usług</li>
  <div>
    <ul>
      <li>Korzystanie z Aplikacji w zakresie Usług Bezpłatnych nie wiąże się z obowiązkiem ponoszenia jakichkolwiek opłat na rzecz {{appName}}. Koszty i szczegółowe zasady świadczenia Usług Płatnych opisane są w punkcie VI.</li>
      <li>Użytkownik akceptuje fakt, że otrzymuje dostęp do Aplikacji, a {{appName}} przystępuje do świadczenia Usług niezwłocznie (w przypadku Usługi Płatnej po zawarciu umowy o świadczenie Usługi Płatnej), bez zachowania terminu na odstąpienie od umowy. Ze względu na powyższe, zgodnie z treścią art. 38 ust. 1) i 13) ustawy z dnia 30 maja 2014 r. o prawach konsumenta, Użytkownikowi nie przysługuje prawo do odstąpienia od umowy na świadczenie Usług.</li>
      <li>Użytkownik może zrezygnować z otrzymywania Usług w dowolnym momencie bez ponoszenia jakichkolwiek dodatkowych kosztów składając żądanie usunięcia Konta lub zaprzestając korzystania z Aplikacji.</li>
    </ul>
  </div>
  <li class="header">Odpowiedzialność {{appName}}</li>
  <div>
    <ul>
      <li>Zarząd i personel {{appName}} dokłada wszelkich starań, żeby świadczone Usługi odpowiadały w pełni indywidualnym potrzebom Użytkowników. W szczególności, udzielając informacji w ramach Usług, personel {{appName}} opiera się na najaktualniejszych wytycznych Światowej Organizacji Zdrowia, instytucji, a także samych producentów żywności.</li>
      <li>Należy mieć jednak na uwadze, że:
        Usługi nie stanowią usług medycznych w rozumieniu ustawy z dnia 15 kwietnia 2011 r. o działalności leczniczej,
        Personel {{appName}} nie posiada bezpośredniego dostępu do wszystkich danych Użytkowników i nie ma możliwości weryfikacji podanych przez Użytkowników danych ani też pełnego rozpoznania stanu ich zdrowia,
        Bilansowanie proponowanych jadłospisów w Płatnej Usłudze „Dieta Flex” w zakresie kaloryczności, białek, tłuszczów i węglowodanów może spełniać cele w przybliżonym, a nie dokładnym zakresie. Dodatkowo minerały i witaminy nie podlegają bilansowaniu, a jedynie wyświetleniu przybliżonych osiąganych wartości,
        Nawet najlepiej zbilansowana dieta może okazać się nieskuteczna w przypadku zaistnienia czynników osobistych (np. predyspozycje genetyczne, stany chorobowe) lub zewnętrznych (np. klimat, zanieczyszczenia, nadmierny stres).</li>
      <li>Z powyższych względów {{appName}} nie jest w stanie zagwarantować 100% skuteczności działań podejmowanych przez Użytkowników, zastrzegamy również że podejmowanie określonych czynności na podstawie informacji przekazanych w ramach Usług może wiązać się z obciążeniem dla zdrowia Użytkowników. W szczególności, w przypadku wystąpienia efektów niepożądanych, prosimy o zaprzestanie czynności podejmowanych na podstawie informacji przekazanych w ramach Usług, a w uzasadnionych przypadkach sugerujemy kontakt z lekarzem.</li>
      <li></li>
    </ul>
  </div>
  <li class="header">Prywatność i poufność</li>
  <div>
    <ul>
      <li>Korzystając z Aplikacji Użytkownik przyjmuje do wiadomości, że podstawą przetwarzania jego danych osobowych w Aplikacji jest realizacja zawartej umowy o świadczenie usług drogą elektroniczną lub podjęcie działań na żądanie Użytkownika przed jej zawarciem, zgodnie z przepisami Rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie danych, zwane RODO), ustawy z dnia 10 maja 2018 r. o ochronie danych osobowych (Dz. U. poz. 1000) oraz innych właściwych przepisów o ochronie danych osobowych.</li>
      <li>Administratorem danych osobowych jest {{appName}}.</li>
      <li>Szczegółowe zasady ochrony danych osobowych Użytkowników naszej Aplikacji zawarte zostały w Polityce Prywatności. Politykę prywatności traktować należy jako integralną część Regulaminu.</li>
    </ul>
  </div>
  <li class="header">Nadzór nad zamieszczeniem treści</li>
  <div>
    <ul>
      <li>{{appName}}, jako operator Aplikacji, posiada uprawnienia do kontrolowania treści umieszczanych przez Użytkowników w Aplikacji, w tym wszelkich tekstów, wypowiedzi, przepisów, zdjęć oraz materiałów audio lub wideo (dalej jako „Treści”). Treści te kontrolujemy pod kątem zgodności z Regulaminem, przepisami prawa oraz z zgodności ze stanem faktycznym. Wynikiem kontroli treści może być jej usunięcie z Aplikacji. W przypadku spostrzeżenia treści niezgodnych z Regulaminem lub przepisami prawa, prosimy o informację.</li>
      <li>Użytkownicy są zobowiązani do umieszczania w Aplikacji jedynie Treści, które nie są objęte ochroną prawną lub co do których posiadają uprawnienia do ich wykorzystania wynikające z: (i) przysługujących im praw autorskich do takich Treści; lub (ii) licencji uprawniającej do wykorzystania takich Treści w zakresie wymaganym postanowieniami niniejszego pkt XI. Dla uniknięcia wątpliwości wskazuje się, że umieszczenie w Aplikacji Treści naruszających jakiekolwiek prawa osób trzecich, w tym zarówno majątkowe i osobiste, stanowi naruszenie niniejszego Regulaminu i będzie prowadziło, w razie wykrycia takiego naruszenia do usunięcia tych Treści z Aplikacji przez {{appName}}. Jednocześnie {{appName}} informuje, iż w przypadkach przewidzianych przepisami prawa, w szczególności po otrzymaniu zobowiązania właściwego organu, dane osobowe Użytkowników naruszających prawa osób trzecich mogą zostać udostępnione osobie, której prawa zostały naruszone.</li>
      <li>Użytkownicy ponoszą pełną odpowiedzialność za Treści umieszczane przez siebie w Aplikacji.</li>
      <li>Umieszczając w Aplikacji jakiekolwiek Treści objęte ochroną prawami autorskimi, Użytkownik udziela {{appName}} nieodpłatnej zbywalnej, niewyłącznej, nieograniczonej czasowo ani terytorialnie i obejmującej prawo do udzielenia sublicencji, licencji do wykorzystania Treści na wszelkich polach eksploatacji wymaganych dla prawidłowego funkcjonowania Aplikacji w oparciu i z wykorzystaniem Treści, następujących polach eksploatacji:
        utrwalanie i zwielokrotnianie Treści na serwerach i w strukturach informatycznych {{appName}} w nieograniczonej ilości egzemplarzy, kopii zapasowych wszelkimi technikami cyfrowymi;
        dystrybucja i udostępnianie Treści osobom trzecim na ich żądanie, w dowolnej utrwalonej cyfrowo formie;
        uruchamianie i udostępnianie publiczne Treści za pośrednictwem sieci Internet jak również za pośrednictwem sieci lokalnych w taki sposób aby każdy mógł mieć do niego dostęp w miejscu i w czasie przez siebie wybranym;
        łączenie i udostępnienie Treści z innymi Treściami umieszczanymi przez innych Użytkowników na potrzeby dokonywania analiz, zestawień, prezentacji;
        korzystanie z i modyfikowanie (w tym tłumaczenie na inne języki) Treści w celach zapewnienia prawidłowego funkcjonowania Aplikacji oraz prawidłowego wyświetlania Treści w Aplikacji na każdym urządzeniu i w każdym systemie operacyjnym na którym Aplikacja jest dostępna;</li>
      <li>Użytkownik ma prawo wypowiedzieć licencję udzielaną {{appName}} zgodnie z pkt 4 powyżej, jednakże likwidacja konta w Aplikacji nie będzie równoznaczna z takim wypowiedzeniem.</li>
    </ul>
  </div>
  <li class="header">Zmiany Regulaminu</li>
  <div>
    <ul>
      <li>{{appName}} zastrzega sobie prawo do zmiany Regulaminu. Każda zmiana staje się skuteczna w terminie 14 dni od momentu opublikowania w Aplikacji zmienionego Regulaminu.</li>
      <li>Użytkownik posiadający Konto w Aplikacji będzie informowany o każdej zmienionej treści Regulaminu. W przypadku braku wyrażenia takiej zgody Użytkownik powinien usunąć konto z Aplikacji.</li>
    </ul>
  </div>
  <li class="header">Postanowienia końcowe</li>
  <div>
    <ul>
      <li>{{appName}} zastrzega, że wszelkie teksty oraz elementy graficzne umieszczone w Aplikacji stanowią przedmiot praw autorskich lub praw wynikających z licencji przysługujących {{appName}}.</li>
      <li>Niniejszy Regulamin podlega prawu Rzeczypospolitej Polskiej.</li>
      <li>Niniejszy Regulamin wchodzi w życie z dniem {{data}} r.</li>
    </ul>
  </div>
</ul>
