<h1>Polityka prywatności Foodsyeah</h1>

Aplikacja gromadzi pewne dane osobowe od swoich użytkowników.
<h2>  Administrator i właściciel danych
</h2>
Adam Gasiorek
adam.bjp@gmail.com
Andrychów, ul Starowiejska 26
<h2>Czas retencji</h2>
Dane są przechowywane przez okres niezbędny do świadczenia usługi żądanej przez Użytkownika, lub też przez okres określony przez cele opisane w niniejszym dokumencie. Użytkownik może zawsze poprosić Administratora Danych o zawieszenie lub usunięcie danych.

<h2>Zbierane typy danych</h2>
Wśród typów danych osobowych, które zbiera ta aplikacja, samodzielnie lub za pośrednictwem osób trzecich, są: Cookie, Dane o wykorzystaniu
Inne zgromadzone Dane Osobowe mogą być opisane w innych sekcjach niniejszej polityki prywatności lub kontekstowo, za pomocą dedykowanego tekstu wyświetlanego przy gromadzeniu danych. Dane osobowe mogą być swobodnie dostarczane przez Użytkownika albo automatycznie zbierane podczas korzystania z tej Aplikacji.
Jakiekolwiek korzystanie z plików plików cookie - lub innych narzędzi monitorowania - przez tę Aplikację lub przez właścicieli usług stron trzecich wykorzystywanych przez tę Aplikację, o ile nie zaznaczono inaczej, służy do identyfikacji Użytkowników i zapamiętywania ich preferencji, wyłącznie w celu świadczenia usług wymaganych przez Użytkownika. Nie udostępnienie niektórych danych osobowych może Aplikacji świadczenie usług.
Użytkownik ponosi odpowiedzialność za Dane Osobowe stron trzecich publikowane lub udostępniane przez tę Aplikację i deklaruje prawo do komunikowania się z nimi lub nadawania do nich, zwalniając Administratora Danych z wszelkiej odpowiedzialności.

<h2>Miejsce</h2>
Dane są przetwarzane w biurach Administratora Danych i w innych miejscach, w których znajdują się związane z przetwarzaniem strony. Aby uzyskać więcej informacji, należy skontaktować się z Administratorem Danych.

<h2>Metody przetwarzania</h2>
Administrator Danych przetwarza Dane Użytkowników w sposób prawidłowy i podejmuje odpowiednie środki bezpieczeństwa w celu ochrony przed nieuprawnionym dostępem, ujawnieniem, modyfikacją lub nieuprawnionym zniszczeniem danych.
Przetwarzanie danych odbywa się za pomocą komputerów i/lub narzędzi IT, zgodnie z procedurami organizacyjnymi i sposobami ściśle związanymi ze wskazanymi celami. Poza Administratorem Danych, w niektórych przypadkach, dane mogą być dostępne dla określonych typów osób odpowiedzialnych za działania serwisu (administrację, sprzedaż, marketing, system prawny, administrację systemu) lub podmiotów zewnętrznych (takich jak dostawcy usług technicznych, listonosze, dostawcy hostingu, firmy informatyczne, agencje komunikacyjne) mianowanych, w razie potrzeby, Procesorami Danych przez Właściciela. Aktualny wykaz tych stron można uzyskać od Administratora Danych w każdej chwili.

<h2>Wykorzystanie zgromadzonych danych</h2>
Dane dotyczące Użytkownika są zbierane w celu umożliwienia Aplikacji świadczenia usług, jak również do następujących celów: Analityka.
Dane Osobowe wykorzystywane do każdego celu są opisane w poszczególnych sekcjach niniejszego dokumentu.

<h2>Informacje dotyczące przetwarzania danych osobowych</h2>
Dane osobowe zebrane w następujących celach dla następujących usług:

<h1>Analityka</h1>
<h2>Dane dodatkowe na temat zbierania i przetwarzania danych</h2>
<h2>Działania prawne</h2>
Dane Osobowe Użytkownika mogą być wykorzystywane do celów prawnych przez Administratora Danych, w sądzie lub w działaniach prowadzących do możliwych działań prawnych wynikających z niewłaściwego stosowania tej Aplikacji lub związanych z nią usług.
Użytkownik powinien być świadomy faktu, że Administrator Danych może być zobowiązany do ujawnienia Danych Osobowych na żądanie władz.

<h2>Dodatkowe informacje o Danych Osobowych Użytkownika</h2>
Oprócz informacji zawartych w niniejszej polityce prywatności, ta Aplikacja może zapewnić Użytkownikowi dodatkowe i kontekstowe informacje dotyczących określonych usług lub gromadzenia i przetwarzania Danych Osobowych na żądanie.

<h2>Logi Systemowe i Konserwacja</h2>
Do celów eksploatacji i konserwacji, ta aplikacja i wszelkie usługi przez stron trzecich mogą gromadzić pliki stanowiące zapis interakcji z tą Aplikacją (logi systemowe) lub użyć do tego celu innych Danych Osobowe (takich jak adres IP).

<h2>Informacje nie zawarte w niniejszej polityce</h2>
Więcej szczegółów dotyczących gromadzenia lub przetwarzania Danych Osobowych można uzyskać od Administratora Danych w dowolnym momencie. Informacje kontaktowe znaleźć można na początku niniejszego dokumentu.

<h2>Prawa użytkowników</h2>
Użytkownicy mają prawo w dowolnym momencie dowiedzieć się, czy ich Dane Osobowe były przechowywane i skonsultować się z Administratorem Danych, aby dowiedzieć się o ich zawartości i pochodzeniu w celu sprawdzenia ich dokładności lub żądania ich uzupełnienia, anulowania, aktualizacji lub poprawy, lub do ich przekształcenia do postaci anonimowej lub do zablokowania wszelkich danych przechowywanych z naruszeniem prawa, a także do sprzeciwienia się ich wykorzystaniu z wszelkich uzasadnionych powodów. Wnioski należy przesyłać do Administratora Danych, korzystając z informacji kontaktowych podanych powyżej.
Ta Aplikacja nie obsługuje żądań "Do Not Track".
Aby określić, czy którekolwiek z usług stron trzecich obsługuje żądania "Do Not Track", należy przeczytać ich polityki prywatności.

<h2>Zmiany niniejszej polityki prywatności</h2>
Administrator Danych zastrzega sobie prawo do wprowadzania zmian w niniejszej polityce prywatności w dowolnym momencie przez powiadomienie swoich Użytkowników na tej stronie. Zaleca się, aby sprawdzać tę stronę często, zwracając uwagę na datę ostatniej modyfikacji wymienioną na dole. Jeśli Użytkownik sprzeciwia się dowolnej ze zmian w polityce, Użytkownik musi zaprzestać korzystania z tej Aplikacji i może zażądać, aby Administrator Danych usunął Dane Osobowe. Jeśli nie zaznaczono inaczej, aktualna w danym momencie polityka prywatności ma zastosowanie do wszystkich Danych Osobowych Użytkowników, jakie posiada Administrator Danych.

<h2>Informacje na temat niniejszej polityki prywatności</h2>
Administrator danych jest odpowiedzialny za niniejszą politykę prywatności, przygotowaną począwszy od modułów dostarczonych przez firmę GuideMe24 i hostowanych na serwerach firmy GuideMe24.

<h1>Definicje i odniesienia prawne</h1>
<h2>Dane Osobowe (lub Dane)</h2>
Wszelkie informacje dotyczące osoby fizycznej, osoby prawnej, instytucji lub stowarzyszenia, które są lub mogą być zidentyfikowane, nawet pośrednio, poprzez odniesienie do wszelkich innych informacji, w tym osobistego numeru identyfikacyjnego.

<h2>Dane o wykorzystaniu</h2>
Informacje zbierane automatycznie z tej Aplikacji (lub usług osób trzecich wykorzystywanych w tej Aplikacji), które mogą obejmować: adresy IP lub nazwy domen komputerów wykorzystywanych przez Użytkowników, którzy korzystają z tej Aplikacji, adresy URI (Uniform Resource Identifier), czas żądań, metody wykorzystywane do wysłania żądania do serwera, rozmiar pliku otrzymanego w odpowiedzi, kod numeryczny wskazujący stan odpowiedzi serwera (sukces, błąd itp.), kraj pochodzenia, cechy przeglądarki i systemu operacyjnego wykorzystywanego przez Użytkownika, różne dane dotyczące wizyty (np. czas spędzony na każdej stronie aplikacji) i szczegóły na temat ścieżki, którą Użytkownik przebył w Aplikacji, ze szczególnym odniesieniem do sekwencji stron, które odwiedził oraz inne parametry dotyczące systemu operacyjnego urządzenia i/lub środowiska IT użytkownika.

<h2>Użytkownik</h2>
Osoba korzystająca z tej aplikacji, która musi pokrywać się z lub mieć zezwolenie Podmiotu Danych, którego dotyczą Dane Osobowe.

<h2>Podmiot Danych</h2>
Osoba prawna lub fizyczna, której dotyczą Dane Osobowe.

<h2>Procesor Danych (lub Nadzorca Danych)</h2>
Osoba fizyczna, osoba prawna, administracja publiczna lub inny organ, stowarzyszenie bądź organizacja upoważniona przez Administratora Danych, aby przetwarzać Dane Osobowe zgodnie z niniejszą polityką prywatności.

<h2>Administrator Danych (lub Właściciel)</h2>
Osoba fizyczna, osoba prawna, administracja publicznej lub inny organ, stowarzyszenie bądź organizacja z prawem, również wspólnie z innym Administratorem Danych, do podejmowania decyzji dotyczących celów i metod przetwarzania Danych Osobowych oraz środki stosowane, w tym środki bezpieczeństwa dotyczące funkcjonowania i korzystania z aplikacji. Administrator Danych jest właścicielem tej aplikacji, chyba, że wskazano inaczej.

<h2>Ta Aplikacja</h2>
Narzędzie sprzętowe lub programowe, za pomocą którego Dane Osobowe Użytkownika są zbierane.

<h2>Cookie</h2>
Mały fragment danych przechowywany w urządzeniu Użytkownika.

<h2>Informacje prawne</h2>
Informacja dla użytkowników w Europie: Niniejsza polityka prywatności została przygotowane w celu wypełnienia zobowiązań wynikających z Art. 10 Dyrektywy WE nr 95/46/WE, oraz zgodnie z przepisami dyrektywy 2002/58/WE, zmienionej dyrektywą 2009/136/WE, na temat plików cookie. Niniejsza polityka prywatności odnosi się wyłącznie do tej Aplikacji.

