<div class="texts">
  <div class="mat-subheading-2">
    Live better
  </div>
  <div class="mat-display-2 bold">
    Why to think about our food?
  </div>
  <div class="mat-body-2">
    Eating healthy personalized meals gives you much more advantages than you could even think about it.
    Lets consider this examples.
  </div>
</div>
  <div class="cards">
    <mat-card class="pink">
      <div class="card-image">
        <img mat-card-image src="assets/illustrations/undraw_healthy_habit_bh-5-w.svg" alt="Health">
      </div>
      <mat-card-content>
        <div class="mat-title">Health</div>
        <div class="mat-body-1">
          When our body weight is at the right level and we provide the body with the right level of macro nutrients, we reduce the risk of many diseases.
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="yellow">
      <div class="card-image">
        <img mat-card-image src="assets/illustrations/undraw_wallet_aym5.svg" alt="Economic">
      </div>
      <mat-card-content>
        <div class="mat-title">Economic</div>
        <div class="mat-body-1">
          On average, every year we waste food with the value of a new phone. It is worth using this money in a different way.
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="green">
      <div class="card-image">
        <img mat-card-image src="assets/illustrations/undraw_the_world_is_mine_nb0e.svg" alt="Ecologic">
      </div>
      <mat-card-content>
        <div class="mat-title">Ecologic</div>
        <div class="mat-body-1">
          We are wasting the Earth's resources, which we have less and less, and thus exacerbating the problems associated with climate change.
        </div>
      </mat-card-content>
    </mat-card>
  </div>
